.container {
  max-width: 80rem/* 1280px */;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 640px) {
  .App {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .App {
    max-width: 768px;
  }
}
@media (min-width: 1536px) {
  .App {
    max-width: 80rem/* 1280px */;
  }
}